.sidebar {
    position: fixed;
    left: 1%;
    top: 1%;
    width: 300px;
    height: 50vw;
    display: flex;  /* Habilita Flexbox */
    align-items: center; /* Centraliza horizontalmente */
    justify-content: center; /* Centraliza verticalmente */
    background-color: #121212;
    padding: 12px;
    border-radius: 8px;
}


.sidebar .image{
    background-color: #121212;
    display: flex;
    border-radius: 8px;
    padding: 16px 0 0 16px;
}

.sidebar .image img{
    width: 80px;
}

.sidebar .about{
    font-size: 0.8rem;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    text-transform: none;
   
}